.intro {
  display: flex;
  align-items: center;
}

.intro img {
  border-radius: 50%;
  margin-right: 20px;
}

.intro ul {
  list-style: none;
  margin-top: 10px;
  font-size: 14px;
}

.intro li {
  margin-top: 5px;
}

.intro li:first-child {
  margin-top: 0;
}

.intro li b {
  font-weight: 500;
}

.name {
  font-size: 18px;
  display: block;
  font-weight: 600;
}

.contacts a {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
  padding: 4px 8px;
  background-color: #fff;
  border-radius: 8px;
  text-decoration: none;
}

.job {
  font-size: 12px;
  margin-top: 20px !important;
  display: block;
}

.job span {
  margin-left: 10px;
}

.job b {
  text-transform: uppercase;
  font-weight: 500;
}

.status span,
.status input {
  display: block;
}

.status input {
  border: none;
  background: none;
}

.status input:focus {
  outline: 5px solid #fff;
  background-color: #fff;
}

@media(max-width: 790px) {
  .intro {
    align-items: flex-start;
  }
  .intro img {
    max-width: 90px;
  }
  .intro li {
    margin-top: 10px;
  }
  .intro li b {
    display: block;
  }
}